In [1]:
import pandas as pd
import json

In [55]:
df = pd.read_csv("data/bitcoin_trx_nr.csv", header=0)
df.columns = ['time','vol']
df.head()

                      time      vol
0  2013-03-10 00:00:00 UTC  73844.0
1  2013-03-11 00:00:00 UTC  59289.0
2  2013-03-12 00:00:00 UTC  48484.0
3  2013-03-13 00:00:00 UTC  56690.0
4  2013-03-14 00:00:00 UTC  58069.0

In [56]:
df['time']= pd.to_datetime(df['time'])
df.head()

        time      vol
0 2013-03-10  73844.0
1 2013-03-11  59289.0
2 2013-03-12  48484.0
3 2013-03-13  56690.0
4 2013-03-14  58069.0

In [57]:
df['cum'] = df['vol'].cumsum()
df.head()

        time      vol       cum
0 2013-03-10  73844.0   73844.0
1 2013-03-11  59289.0  133133.0
2 2013-03-12  48484.0  181617.0
3 2013-03-13  56690.0  238307.0
4 2013-03-14  58069.0  296376.0

In [58]:
df.index = df['time']

df.head()

                 time      vol       cum
time
2013-03-10 2013-03-10  73844.0   73844.0
2013-03-11 2013-03-11  59289.0  133133.0
2013-03-12 2013-03-12  48484.0  181617.0
2013-03-13 2013-03-13  56690.0  238307.0
2013-03-14 2013-03-14  58069.0  296376.0

In [61]:
df.to_json("data/bitcoin_trx_nr.json", orient='index')

In [62]:
df.cum.max()

289724601.0